<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    <h1>Marvel Characters</h1>
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <form {{action 'search' on='submit'}}>
      {{input value=search placeholder="Search for a character..." }}
      <input type="submit" value="Search" />
    </form>
  </div>
  {{#each model as |character|}}
    <div class="mdl-cell mdl-cell--12-col">
      <p class="character">
        {{link-to character.name 'characters.show' character.id}}
      </p>
    </div>
  {{/each}}
</div>
