<form {{action 'search' on='submit'}}>
  {{input value=search placeholder="Search for a character..." }}
  <input type="submit" value="Search" />
</form>

{{#each model as |character|}}
  <p class="character">
    {{link-to character.name 'characters.show' character.id}}
  </p>
{{/each}}
